# S3/S3-like endpoint 
# Example 'https://bucket-name.amazonaws.com'
BUCKET_ENDPOINT='https://bucket-name.amazonaws.com'
# S3/S3-like endpoint without the protocol
# Example 'bucket-name.amazonaws.com'
BUCKET_ENDPOINT_SHORT='bucket-name.amazonaws.com'
# S3/S3-like bucket name
# Example 'bucket-name'
BUCKET_NAME='bucket-name'
# S3/S3-like bucket region
# Example 'us-east-1'
BUCKET_REGION='us-east-1'
# AWS ACCESS KEY
AWS_ACCESS_KEY='aws-access-key1234'
# AWS SECRET KEY
AWS_SECRET_KEY='aws-super-secret-key1234'
# Current environment
# Example: 'dev'
ENVIRONMENT='dev'